<div class="w3-sidebar w3-bar-block w3-white" style="width:250px;position:fixed;z-index:100;">
  <div class="w3-bar-item main-menu">Documentation</div>
  <a href="/docs/concept" class="w3-bar-item w3-button sub-menu">Concept</a>
  <a href="/docs/architecture" class="w3-bar-item w3-button sub-menu">Architecture</a>
  <a href="/docs/manual" class="w3-bar-item w3-button sub-menu">Manual</a>

  <div class="w3-bar-item main-menu">Settings</div>
  <a href="/settings#setup" class="w3-bar-item w3-button sub-menu">Setup</a>
  <a href="/settings#connectivity" class="w3-bar-item w3-button sub-menu">Connectivity & Validation</a>
  <a href="/settings#configuration" class="w3-bar-item w3-button sub-menu">Configuration Status</a>
  <a href="/settings#queue" class="w3-bar-item w3-button sub-menu">Queue Health</a>
  <a href="/settings#jobs" class="w3-bar-item w3-button sub-menu">Job History</a>
</div>
